.form{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw 0 10vw;
    text-decoration: none;

    animation: sliderRight 1s ease-out;
    
}

.form2{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    height: 55vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw 0 10vw;
    text-decoration: none;

    animation: sliderLeft 1s ease-in;
    
}



.questions{
    font-size: 16px;
    
}

.answers {
    border: 1px solid #ccc;
}

@keyframes sliderRight{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes sliderLeft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}


.answers label{
    display: flex;
    font-size: 12px;
    color: white;
    border: 1px solid rgba(204, 204, 204, 0.253);
    width: 100%;
}

.options{
    display: inline-flex;
    width: 100%;
    background-color: black;
    margin: 0.5px;
    transition: 0.5s;
    padding: 8px;    
}
.options2{
    background-color: green;
    margin: 2px;
    transition: 0.5s;
    padding: 7px;    
}

.options:hover{
    margin: 20px;
}

/* Showing correct of wrong answer */

.correct-answer{
    background-color: green;
}
.wrong-answer{
    background-color: red;
}



.submit{
    height: 30vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: white;
    padding-right: 10vw;
}

.number{
    display: flex;
    text-align: center;
    justify-content: center;
}


.nextPrev{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0 10vw 0 10vw;
}
.nextPrev button{
    font-size: 12px;
    padding: 10px 20px;
}

.nextPrev button:hover{
    background-color: black;
    color: white;
}

#hide{
    display: none;
}