.form{
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    height: 62vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10vw 0 10vw;
    text-decoration: none;
}

.questions{
    font-size: 16px;
    
}

.answers {
    border: 1px solid #ccc;
}

.answers label{
    font-size: 12px;
    color: white;
}

.options{
    background-color: black;
    margin: 1px;
    transition: 0.5s;
    padding: 8px;

    
}

.options:hover{
    margin: 20px;
}


.next{
    height: 23vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    background-color: white;
    padding-right: 10vw;
    padding-top: 50px;
}